button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 2px;
  background: $color__background-button;
  color: rgba(0, 0, 0, .8);
  @include font-size(0.75);
  line-height: 1;
  padding: .6em 1em .4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}
.wp-block-button__link, button, [type="submit"] {
  cursor: pointer;
  background: $gradient__primary;
  border: none;
  padding: 10px 25px;
  border-radius: 2px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-weight: bold;
  transition: box-shadow 0.2s;
  line-height: 1.5;
  &, &:visited {
    color: #fff;
  }
  &:hover {
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.2);
  }
}
.button--secondary .wp-block-button__link {
  background: $gradient__secondary;
}

.wp-block-button__link .svg-inline--fa {
  font-size: 0.8rem;
  margin-bottom: 1px;
  margin-left: 7px;
}
