# Adapted from https://stevegrunwell.github.io/wordpress-git

# WordPress files we don't want to track
/wp-content/themes/twenty*
/wp-content/upgrade
/sitemap.*
/wp-config.php

# Other temporary files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
*.swp
node_modules/
npm-debug.log
.sass-cache

# LetsEncrypt
/.well-known
