body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

@import url('https://fonts.googleapis.com/css?family=Londrina+Solid|Source+Sans+Pro:400,400i,700,700i&display=swap');

@import "headings";

@import "copy";
