$header-height: 100px;

header {
  background-color: white;
  height: $header-height;
  padding: 0 20px;
  box-sizing: content-box;
}

.header__logo {
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;
  height: 100%;
  display: block;
  float: left;
  &:before {
    content: '';
    background-image: url($directory-template + '/assets/images/logos/unicamp.gif');
    display: block;
    height: 100%;
    width: $header-height;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

header nav {
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.header__menu > li {
  display: inline-block;
}
.header__menu > li > a {
  height: $header-height;
  line-height: $header-height;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  letter-spacing: 0.03em;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $color-primary;
    outline: none;
  }
  &:active {
    background-color: mix(black, $primary-color, 10);
  }
}
