$header-height: 100px;

header {
  background-color: transparent;
  height: $header-height;
  padding: 0 20px;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__logo {
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;
  height: 100%;
  display: block;
  float: left;
  &:before {
    content: '';
    background-image: url($directory-template + '/assets/images/logos/unicamp.gif');
    display: block;
    height: 100%;
    width: $header-height;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.header__menu > li {
  display: inline-block;
}
.header__menu > li > a {
  color: white;
  text-shadow: 0 0 7px black;
  font-weight: bold;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  height: $header-height;
  line-height: $header-height;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  &:hover, &:focus, &:active {
    color: white;
    text-shadow: none;
    background-color: $color-primary;
    outline: none;
  }
  &:active {
    background-color: mix(black, $primary-color, 10);
  }
}
