.hero__title {
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  font-weight: normal;
}
.site-title, .site-description {
  display: none;
}
.site-branding {
  float: left;
}
.button--hero .wp-block-button__link {
  color: #fff;
  background: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  padding: 5px 35px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.1s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }
}
.hero__notify {
  max-width: 800px;
  margin: auto;
  padding: 10px 15px;
  position: relative;
  top: -50px;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  color: white;
  align-items: center;
}
.hero__notify .wp-block-button {
  margin: 0;
}
.hero__notify .wp-block-column {
  flex-basis: auto;
  flex-grow: 1;
  margin: 0 5px;
  &:nth-last-child(1) {
    flex-shrink: 0;
  }
}
.hero__notify p {
  margin: 0;
}
