.continuum-of-care {
  background-attachment: fixed;
  @include breakpoint(large up) {
    height: $height-photo-block*2;
  }
  @include breakpoint(medium down) {
    height: $height-photo-block;
  }
  overflow: hidden;
  text-align: center;
}
.continuum-of-care__fixed {
  position: relative;
  height: 80vh;
  padding: 50px;
}
.continuum-of-care__header {
  position: relative;
  z-index: 1;
}
$continuum-of-care-transform: translateY(-50%) translateX(-50%);
$continuum-of-care-margin: 150px;
.continuum-of-care-block__logo {
  display: block;
  margin: auto;
  @include breakpoint(large up) {
    transition: 0.5s transform;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: $continuum-of-care-transform;
    margin-top: $continuum-of-care-margin;
    height: 90vh;
  }
  @include breakpoint(medium down) {
    width: 50%;
    max-width: 200px;
}
}
.continuum-of-care-block__text {
  @extend h4;
  @include breakpoint(large up) {
    margin-top: $continuum-of-care-margin;
    opacity: 0;
    transition: 0.5s opacity;
    position: absolute;
    width: 30vw;
    display: block;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@include breakpoint(large up) {
  .continuum-of-care-block__text--no-animation { display: none; }
  .continuum-of-care.animation-block-1 {
    & .continuum-of-care-block__logo { transform: $continuum-of-care-transform rotate(0deg); }
    & .continuum-of-care-block__text--animation1 { opacity: 1; }
  }
  .continuum-of-care.animation-block-2 {
    & .continuum-of-care-block__logo { transform: $continuum-of-care-transform rotate(90deg); }
    & .continuum-of-care-block__text--animation2 { opacity: 1; }
  }
  .continuum-of-care.animation-block-3 {
    & .continuum-of-care-block__logo { transform: $continuum-of-care-transform rotate(180deg); }
    & .continuum-of-care-block__text--animation3 { opacity: 1; }
  }
  .continuum-of-care.animation-block-4 {
    & .continuum-of-care-block__logo { transform: $continuum-of-care-transform rotate(270deg); }
    & .continuum-of-care-block__text--animation4 { opacity: 1; }
  }
}
@include breakpoint(medium down) {
  .continuum-of-care-block__text--no-animation {
    display: block;
  }
  .continuum-of-care-block__text--animation1,
  .continuum-of-care-block__text--animation2,
  .continuum-of-care-block__text--animation3,
  .continuum-of-care-block__text--animation4 {
    display: none;
  }
}
