.expand__button__icon {
  @extend .fa;
  @extend .fa-caret-up;
  transition: 0.5s transform;
  .expand--collapsed & {
    transform: rotateX(180deg);
  }
}
.expand__button--full {
  text-align: center;
  width: 100%;
  display: block;
}
.expand__content--long {
  text-align: left;
}
