$height-photo-block: 850px;
$height-photo-block-short: $height-photo-block - 200px;

.photo-block {
  @include breakpoint(large up) {
    height: $height-photo-block;
    position: relative;
    background-size: cover;
    background-position: center center;
    transition: 0s linear background-position;
    background-attachment: fixed;
    font-size: 1.4rem;
    line-height: 1.3em;
  }
  @include breakpoint(medium down) {
    background-image: none !important;
    background-color: $color-overlay-solid;
  }
}
.photo-block {
  @include breakpoint(large up) {
    height: $height-photo-block-short;
  }
}
.photo-block__small-image {
  @include breakpoint(large up) { display: none; }
}

.photo-block__content {
  color: white;
  background-color: $color-overlay-dark;
  width: 100%;
  text-align: center;
  @include breakpoint(large up) {
    position: absolute;
    bottom: 0;
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
  }
  @include breakpoint(medium down) {
    padding: 26px 20px;
  }
}
.photo-block__content h2,
.photo-block__content h4 {
  color: white;
}

.photo-block__blockquote {
  border: none;
  color: inherit;
  text-align: right;
  @include breakpoint(large up) {
    font-size: 1.5rem;
  }
  @include breakpoint(small down) {
    font-size: 1.1rem;
  }
}
.photo-block__blockquote__cite {
  font-size: 1em;
}
