/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-unicamp-unicamp-blocks-hashtabs {
  margin-top: 10px;
}
.wp-block-unicamp-unicamp-blocks-hashtabs__tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 5px solid #2774ae;
  max-width: 100vw;
  overflow-x: scroll;
}
.wp-block-unicamp-unicamp-blocks-hashtabs__tabs__tab {
  padding: 10px 20px;
  background-color: #f5f5f6;
  border-radius: 10px 10px 0 0;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 150ms ease-out;
  &:hover {
    transform: scale(1.05) translateY(-2.25%);
  }
  & > span {
    white-space: nowrap;
  }
}
/* Not used yet */
.wp-block-unicamp-unicamp-blocks-hashtabs__tabs__tab--selected {
  &, &:hover {
    transform: scale(1.1) translateY(-4.5%);
  }
  background-color: #2774ae;
  color: white;
}
