.large-block {
  height: 700px;
  position: relative;
  background-size: cover;
  transition: 0s linear background-position;
  transform: transalte3d(0,0,0);
}
.large-block__content {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px;
}
#test-block {
  background-image: url($path_images+'/samples/sweet-pea-1.jpg');
}
#test-block-2 {
  background-image: url($path_images+'/samples/sweet-pea-2.jpg');
}
