sup {
  top: -0.3em;
}
#forest {
  background-image: url('forest.jpg');
  width: 100%;
  height: 25%;
  min-height: 300px;
  background-size: cover;
  background-color: rgba(38, 38, 111, 0.4);
  background-blend-mode: overlay;
}
#logo {
  width: 300px;
  display: block;
  margin: auto;
  padding: 30px;
}
#main {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#main-heading h2 {
  line-height: 0.9;
}
h2 {
  font-family: 'Bebas Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.main-h2 {
  margin-top: 6px;
}
.supporting-h2 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

hr {
  width: 70%;
}

.button-list {
  list-style: none;
  margin: 0;
}
.button-list li {
  display: inline-block;;
  margin: 5px;
  width: 30%;
  height: 50px;
}
.button-list a {
  display: inline-block;
  background-color: #d3ebeb;
  padding: 10px;
  color: #333;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 1.4;
}
.button-list a:not(.disabled):hover {
  background-color: #c9e1e1;
}
.button-list a > span {
  display: block;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}
.button-list a > span::after {
  content: '➔';
  display: inline-block;;
  margin-left: 3px;
  color: white;
}
.button-list__disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.button-list__disabled * {
  cursor: not-allowed;
}
strong.very-strong {
  text-transform: uppercase;
}
