$primary-color: #2774AE; // Overrides foundation
$primary-color-alt: #005587;
$primary-color-heading: #003B5C;
$foundation-palette: (
  primary: #2774AE,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$anchor-text-decoration-hover: underline;
$color-background: #686A69;
$color-overlay-dark: rgba(0, 0, 0, 0.5);
$color-overlay-solid: #585858;
