@include md {
  .page-template-full-page-narrow .site-header,
  .page-template-full-page .site-header {
    position: absolute;
    left: 0;
  }
}
.page-template-full-page-narrow .entry-content,
.page-template-full-page .entry-content {
  margin-top: 0;
}
