$primary-color: #2B84C2; // Overrides foundation
$primary-color-alt: #2982BE;
$primary-color-heading: #17448C;
$foundation-palette: (
  primary: #2B84C2,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$anchor-text-decoration-hover: underline;
$color-background: #686A69;
$color-overlay-dark: rgba(0, 0, 0, 0.5);
