$primary-color: #2B84C2; // Overrdies foundation
$foundation-palette: (
  primary: #2B84C2,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$anchor-text-decoration-hover: underline;
