/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-unicamp-cost-calculator {
  text-align: center;
  & > h3 > .dashicon {
    font-size: 2rem;
    width: auto;
    vertical-align: -7px;
  }
}
