h2 {
  font-family: $font-headings;
  color: $primary-color-heading;
}
h4 {
  font-family: $font-secondary;
  color: $primary-color-alt;
}
h5 {
  font-family: $font-primary;
  font-weight: normal;
}
.explainer {
  font-size: 1.4rem;
  line-height: 1.3em;
}
