h2 {
  font-family: $font-headings;
  color: $primary-color-heading;
}
h4 {
  font-family: $font-secondary;
  color: $primary-color-alt;
}
h5 {
  font-weight: 500;
  color: $primary-color-heading;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 0;
}
.small-title {
  display: block;
  text-align: center;
  font-family: $font-primary;
  font-weight: normal;
  font-size: 1.25rem;
}
.explainer {
  font-size: 1.4rem;
  line-height: 1.3em;
}
.explainer--left {
  text-align: left;
}
.explainer strong {
  color: $primary-color-heading;
}
