.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  @include center-block;
}
.alignfull {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.alignwide {
  margin-left: calc(-25vw + 25%);
  margin-right: calc(-25vw + 25%);
}
