footer {
  background-color: $color-background;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer a {
  color: white;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
}
.footer__menu {
  margin-bottom: 50px;
}
.footer__menu h3 {
  font-family: $font-secondary;
  text-decoration: underline;
  font-size: 1rem;
}
.footer__submenu {
  list-style: none;
  margin: 0;
  font-family: $font-secondary;
}
.footer__submenu li {
  padding: 0;
  margin: 0;
  line-height: 1em;
  padding: 8px 0;
}
.footer__legal {
  text-align: center;
}
.footer__contact__phone {
  margin-top: 1em;
}

.footer__social {
  text-align: center;
}
.footer__social__title {
  font-weight: bold;
}
.footer__social__icons {
  list-style: none;
  font-size: 2rem;
  margin: 0;
}
.footer__social__icons li {
  display: inline-block;
  text-align: center;
}
.footer__social__icons img {
  height: 1em;
  background-color: white;
}

.footer__legal__details {
  color: rgba(255, 255, 255, 0.5);
  @include breakpoint(small down) {
    font-size: 0.8rem;
    padding: 0 10px;
  }
}
.footer__legal__org {
  font-family: $font-secondary;
  @include breakpoint(small down) {
    font-size: 1.2rem;
  }
}
.footer__legal__org__logo {
  height: 5em;
  vertical-align: bottom;
  @include breakpoint(small down) {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
