/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-unicamp-unicamp-blocks-hashtab {
  outline: 1px dotted #c0c0c0;
  min-height: 100px;
  margin-top: 1px;
}
